apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: foodix
type: Opaque
data:
  POSTGRES_USER: Zm9vZGl4             # "foodix" в base64
  POSTGRES_PASSWORD: bXlwYXNzd29yZA== # "mypassword" в base64
  POSTGRES_DB: Zm9vZGl4X2Ri           # "foodix_db" в base64